:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #1e88e5;
}

a:hover {
  color: #1565c0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #213547;
}

button {
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}
